
.container{
    display: flex;
    justify-content: center;
}
.box{
    width: 30rem;
    margin:1rem;
}
.form{
    padding: 1rem;
}
.title{
    
    font-size: 2.25rem;
}
.submitbtn{
    border-radius: 20px;
}
.loginlink{
    display: flex;
    justify-content: center;
}
.loginorsignup{
    text-align: center;
    border: 2px solid;
    margin:  0;
    background-color: aliceblue;
    font-size: 18px;
    border-radius: 1rem;
    padding: 5px 0;
    width: 100%;
    cursor: pointer;
}
.forgot{
    margin-top: 11px;
    text-align: center;
    color: blue;
    text-decoration: underline;
}